.container {
    background: white;
    border-radius: 25px;
    padding: 50px 40px;
    box-shadow: 0 25px 70px rgba(0, 0, 0, 0.3);
    max-width: 650px; /* mengubah lebar */
    width: 100%;
    transition: transform 0.3s ease;
}

.container:hover {
    transform: translateY(-5px);
}
button {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.radio {
    gap: 30px;
}
